.main {
    // background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    .imagem_e_infos {
        // background-color: orange;
        display: flex;
        gap: 2rem;

        .imagem {
            // background-color: purple;

            img {
                border-radius: 0.5rem !important;
                width: 10rem !important;
                height: auto !important;
            }
        }

        .infos {
            // background-color: pink;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 0.25rem;
            width: fit-content;
            text-align: left;

            .titulo {
                color: var(--preto);
                font-size: 0.8rem;
                font-weight: 700;
                line-height: 1.5rem;
            }

            .texto {
                // background-color: blue;
                color: var(--preto);
                font-weight: 400;
                font-size: 0.7rem;
                line-height: 1rem;
                width: fit-content;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .main {
        // background-color: orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        border: 1px solid var(--principal);
        border-radius: 0.5rem;
        padding: 2rem;

        .imagem_e_infos {
            // background-color: orange;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}