.main {
    // background-color: orange;
    width: 60vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;

    margin-top: 5rem;
    margin-bottom: 5rem;

    .titulo {
        // background-color: purple;
        text-align: left;
        width: 65%;

        span {
            font-size: 4.125rem;
            line-height: 4.5rem;
            font-weight: 800;
        }
    }

    .visual {
        // background-color: purple;
        // margin: auto;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            max-height: 75vh;
            border-radius: 1rem;
        }
    }

    .ward {
        // background-color: palegreen;
        display: flex;
        flex-direction: row;

        width: 100%;
        gap: 3rem;

        .esquerda {
            // background-color: purple;
            width: fit-content;
            padding: 0rem 0.5rem 0rem 0rem;
            text-align: left;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;

            .img {
                // background-color: orange;
                height: fit-content;
                width: fit-content;

                img {
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }

            .infos {
                // background-color: orange;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0rem;

                white-space: nowrap;

                .nome {
                    // background-color: orange;
                    font-size: 1rem;
                    font-weight: 700;
                }

                .data {
                    // background-color: orange;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: rgba(21, 23, 26, 50%);
                }
            }
        }

        .direita {
            width: auto;

            .conteudo {
                // background-color: purple;
                min-width: 100%;
                font-size: 1.05rem;
                line-height: 1.725rem;
                font-weight: 400;
                text-align: left;

                display: flex;
                flex-direction: column;
                gap: 0rem;

                user-select: text !important;

                strong,
                b {
                    font-weight: 700;
                }

                h1 {
                    // background-color: orange;
                    line-height: 3rem;
                    font-size: 2.5rem;
                }

                h2 {
                    // background-color: orange;
                    line-height: 2.225rem;
                    font-size: 1.525rem;
                }

                h3 {
                    // background-color: orange;
                    line-height: 2rem;
                    font-size: 1.225rem;
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res ++ */
@media (max-width:1920px) {}

/* hi-res + */
@media (max-width:1536px) {
    .main {
        // background-color: purple;
        width: 70vw;

        .titulo {
            // background-color: purple;
            width: 85%;
        }
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .main {
        // background-color: purple;
        width: 85vw;

        .titulo {
            // background-color: purple;
            width: 100%;

            span {
                font-size: 3rem;
                line-height: 3.5rem;
                font-weight: 800;
            }
        }

        .visual {
            // background-color: purple;
            // margin: auto;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
                max-height: 50vh;
                border-radius: 1rem;
            }
        }

        .ward {
            // background-color: orange;
            display: flex;
            flex-direction: column;

            gap: 1rem;

            .esquerda {
                // background-color: purple;
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
        }
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        // background-color: purple;
        gap: 2rem;

        .titulo {
            // background-color: orange;

            span {
                font-size: 1.85rem;
                line-height: 2.5rem;
                font-weight: 800;
            }
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}