.main {
    // background-color: orange;
    width: 60vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;

    margin-top: 5rem;
    margin-bottom: 5rem;

    .titulo {
        // background-color: purple;
        text-align: left;
        width: 65%;

        span {
            font-size: 4.125rem;
            line-height: 4.5rem;
            font-weight: 800;
        }
    }

    .visual {
        // background-color: purple;
        // margin: auto;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            max-height: 75vh;
            border-radius: 1rem;
        }
    }

    .ward {
        background-color: orange;
        display: flex;
        flex-direction: row;

        width: 100%;
        gap: 3rem;

        .esquerda {
            background-color: purple;
            width: fit-content;
            padding: 2rem;
        }

        .direita {
            width: auto;

            .conteudo {
                // background-color: purple;
                min-width: 100%;
                font-size: 1.15rem;
                line-height: 2rem;
                font-weight: 400;
                text-align: left;

                display: flex;
                flex-direction: column;
                gap: 0rem;

                strong,
                b {
                    font-size: 1.725rem;
                    font-weight: 700;
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res ++ */
@media (max-width:1920px) {}

/* hi-res + */
@media (max-width:1536px) {
    .main {
        // background-color: purple;

        .titulo {
            // background-color: purple;
            width: 100%;
        }
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .main {
        // background-color: purple;
        width: 85vw;

        .visual {
            // background-color: purple;
            // margin: auto;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
                max-height: 50vh;
                border-radius: 1rem;
            }
        }
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        // background-color: purple;
        gap: 2rem;

        .titulo {
            span {
                font-size: 2.5rem;
                line-height: 3rem;
                font-weight: 800;
            }
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}