.main {
    // background-color: orange;
    width: 40vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;

    margin-top: 5rem;
    margin-bottom: 5rem;

    .titulo {
        // background-color: purple;
        margin: auto;
        text-align: center;

        span {
            font-size: 3.725rem;
            font-weight: 700;
        }
    }

    .visual {
        // background-color: purple;
        margin: auto;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            max-height: 50vh;
            border-radius: 0.75rem;
        }
    }

    .conteudo {
        // background-color: purple;
        min-width: 100%;
        font-size: 1.15rem;
        line-height: 2rem;
        font-weight: 400;
        text-align: left;

        display: flex;
        flex-direction: column;
        gap: 0rem;

        strong,
        b {
            font-size: 1.725rem;
            font-weight: 700;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res ++ */
@media (max-width:1920px) {
    .main {
        // background-color: purple;
        width: 65vw;
    }
}


/* hi-res + */
@media (max-width:1536px) {
    .main {
        // background-color: purple;
        width: 75vw;
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .main {
        // background-color: purple;
        width: 85vw;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        // background-color: purple;
        text-align: center;

        .titulo {
            span {
                font-size: 2.725rem;
            }
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}