.main {
    // background-color: coral;
    width: 55vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    overflow-y: auto;

    margin-top: 5rem;
    margin-bottom: 5rem;

    .divTitulo {
        // background-color: red;
        display: flex;
        align-items: center;
        gap: 1.25rem;

        span {
            color: var(--preto);
            font-size: 3rem;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: 0.025rem;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1920px) {
    .main {
        // background-color: purple;
        width: 55vw;
    }
}

/* hi-res + */
@media (max-width:1536px) {
    .main {
        // background-color: orange;
        width: 85vw;
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}