.navbar {
    // background-color: orange;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 55%;

    a {
        color: var(--preto);
        font-weight: 700;
    }

    .esquerda {
        display: flex;
        gap: 2rem;
    }

    .direita {
        display: flex;
        gap: 2rem;
    }
}