.navbarSmall {
    background-color: var(--branco-alt) !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;

    width: 100%;
    height: 100%;
    padding: 2rem;

    .top {
        // background-color: orange;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;

        .esquerda {

            // background-color: orange;
            span {
                font-weight: 700;
            }
        }

        .direita {
            // background-color: orange;
            display: flex;
            gap: 1.25rem;
        }
    }

    a {
        // background-color: orange;
        font-weight: 700;
        font-size: 1.75rem;
        width: fit-content;
    }

    button {
        font-size: 1.25rem !important;

        &:last-of-type {
            background-color: var(--principal);
            color: var(--branco);
        }
    }
}