.main {
    // background-color: orange;
    width: 35vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;

    margin-top: 5rem;
    margin-bottom: 5rem;

    .titulo {
        text-align: center;

        span {
            font-size: 3.725rem;
            font-weight: 700;
        }
    }

    .container {
        display: flex;
        height: 100vh;

        .usuarios {
            width: 20%;
            border-right: 1px solid #ccc;
            padding: 10px;

            h2 {
                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    cursor: pointer;
                    padding: 5px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #eee;
                    }

                    &.selected {
                        background-color: #eee;
                    }
                }
            }
        }

        .chat {
            flex: 1;
            padding: 10px;

            h2 {
                margin-bottom: 10px;
            }

            .mensagem {
                height: 400px;
                border: 1px solid #ccc;
                padding: 10px;
                overflow-y: auto;

                .sistema {
                    color: pink;
                }

                div {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1920px) {
    .main {
        // background-color: purple;
        width: 45vw;
    }
}

/* hi-res + */
@media (max-width:1536px) {
    .main {
        // background-color: purple;
        width: 55vw;
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {
    .main {
        // background-color: purple;
        width: 85vw;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        // background-color: purple;
        text-align: center;

        .titulo {
            span {
                font-size: 2.725rem;
            }
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}