.main {
    // background-color: orange;
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin-top: 5rem;
    margin-bottom: 5rem;

    .usuarios {
        // background-color: purple;
        width: fit-content;
        max-width: 12rem;
        height: fit-content;
        padding: 1rem;

        border: 1px solid var(--bege);
        border-radius: 0.4rem;

        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        span {
            text-align: center;
            font-size: 0.75rem;
            font-weight: bold;
            white-space: nowrap;
        }

        ul {
            list-style: none;
            padding: 0;
            width: fit-content;
            white-space: nowrap;

            li {
                font-size: 0.9rem;
                cursor: pointer;
                padding: 0.75rem !important;
                border-radius: 0.4rem;
                transition: background-color 0.3s;

                &:hover {
                    background-color: var(--bege) !important;
                }
            }
        }
    }

    .chat {
        // background-color: lightcoral;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .mensagens {
            max-height: 30rem;
            min-height: 30rem;

            border: 1px solid var(--bege);
            border-radius: 0.4rem;
            padding: 1rem;
            overflow-y: auto;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            .mensagem {
                &.sistema {
                    color: var(--preto);
                    opacity: 0.5;
                    font-size: 0.7rem;
                    font-style: italic;
                }
            }
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
@media (max-width:1920px) {
    .main {
        // background-color: purple;
        width: 60vw;
    }
}

/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .main {
        // background-color: purple;
        width: 90vw;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}