.tags {
    // background-color: purple !important;
    background-color: transparent;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    display: flex;
    gap: 1rem;

    li {
        float: left;
    }

    .tag {
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #999;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: auto;
        text-decoration: none;
        -webkit-transition: color 0.2s;

        font-family: inherit;
        font-size: 0.85rem;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: default;

        &:hover {
            color: #999 !important;
        }

        &::before {
            background: var(--branco);
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: '';
            height: 6px;
            left: 10px;
            position: absolute;
            width: 6px;
            top: 10px;
        }

        &::after {
            background: var(--branco-alt);
            border-bottom: 13px solid transparent;
            border-left: 10px solid #eee;
            border-top: 13px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}