:root {
    --principal: #4ECDC4;
    --principal-escuro: #33B5AC;
    --secundaria: #CD4E57;
    --preto: #15171A;
    --branco: #FFFDFA;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    background-color: #FFFFFF;
    color: var(--preto);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    letter-spacing: 0.03em;
}

img {
    pointer-events: none;
}

/* =-=-=-=-=-=-=-=-= Misc =-=-=-=-=-=-=-=-= */
a {
    color: var(--principal);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: var(--principal-escuro);
        transition: 0.3s;
    }
}

.pointer {
    cursor: pointer !important;
}

.notAllowed {
    cursor: not-allowed !important;
}

.cor-principal {
    color: var(--principal) !important;
    fill: var(--principal) !important;
}

.cor-principal-hover {
    transition: .2s ease-in-out;

    &:hover {
        color: var(--principal) !important;
        fill: var(--principal) !important;
        opacity: 1 !important;
        transition: .2s ease-in-out;
    }
}

.wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--principal);
    text-decoration-thickness: 2px;
    text-underline-offset: 3.5px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke-width: 2;
    stroke: var(--preto);
    vertical-align: middle;
    transition: .3s;

    &:hover {
        cursor: pointer;
        transition: .3s;
        transform: translate(0, -0.25rem);
    }

    &:hover:not(.svgSemEfeito) {
        stroke: var(--principal);

        path {
            stroke: var(--principal);
            transition: 0.125s;
        }
    }
}

.separadorHorizontal {
    border-top: 1px solid rgba(42, 42, 42, 7%);
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* =-=-=-=-=-=-=-=-=-=-= Input =-=-=-=-=-=-=-=-=-=-= */
input[type=text],
input[type=email],
input[type=number] {
    color: var(--preto);
    font: inherit;
    margin: 0;
    line-height: normal;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 1rem 0;
    width: 100%;
    transition: 0.3s;
}

textarea {
    color: var(--preto);
    font: inherit;
    margin: 0;
    overflow: auto;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    line-height: 1.5rem;
    resize: none;
    width: 100%;
    transition: 0.5s;
}

input[type=text],
input[type=email],
input[type=number],
textarea {
    &:focus {
        outline: none;
        border-bottom: solid 2px var(--principal-escuro);
        transition: 0.5s;

        &::placeholder {
            font-size: 0.65rem;
            transition: 0.25s;
        }
    }

    &::placeholder {
        color: rgba(21, 23, 26, 0.5);
        transition: 0.25s;
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--preto);
    }

    // bug fix;
    &:-webkit-autofill {
        -webkit-text-fill-color: var(--preto) !important;
        -webkit-box-shadow: 0 0 0 30px var(--principal) inset !important;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Fontes =-=-=-=-=-=-=-=-=-=-= */
.titulo {
    color: var(--preto);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.75rem;
}

.subtitulo {
    color: var(--preto);
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 2.5rem;
}

/* =-=-=-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-=-=-= */
.botao {
    color: var(--principal);
    background-color: transparent;
    border: 1px solid var(--principal);
    border-radius: 0.5rem;
    padding: 1.25rem 1.75rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
        outline: none;
        box-shadow: 4px 4px 0 0 var(--principal);
        transform: translate(-5px, -5px);
    }

    &:after {
        display: none !important;
    }

    &:disabled {
        background-color: var(--principal);
        color: var(--preto);
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.btnPequeno {
        // background-color: orange;
        padding: 0.75rem 1.25rem;
        font-size: 0.85rem;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= react-hot-toast =-=-=-=-=-=-=-=-=-=-= */
.toaster {
    position: fixed !important;
    z-index: 999999999 !important;
}

/* =-=-=-=-=-=-=-=-=-=-= react-tooltip =-=-=-=-=-=-=-=-=-=-= */
.react-tooltip {
    font-size: 0.9rem !important;
    background-color: var(--principal) !important;
    z-index: 999999999 !important;
}

/* =-=-=-=-=-=-=-=-=-=-= nProgress =-=-=-=-=-=-=-=-=-=-= */
#nprogress {
    .bar {
        background: var(--principal-escuro) !important;
        height: 3px !important;
        box-shadow: none !important;
        z-index: 999999999 !important;
    }

    .peg {
        box-shadow: 0 0 10px var(--principal-escuro), 0 0 5px var(--principal-escuro) !important;
        box-shadow: none !important;
        height: 3px !important;
    }

    .spinner-icon {
        border-top-color: var(--principal-escuro) !important;
        border-left-color: var(--principal-escuro) !important;
    }
}

/* =-=-=-=-=-=-=-=-=-=-= Scroll =-=-=-=-=-=-=-=-=-=-= */
::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--principal);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--principal-escuro);
}

/* =-=-=-=-=-=-=-=-=-=-= Media queries =-=-=-=-=-=-=-=-=-=-= */
/* hi-res + */
@media (max-width:1536px) {}

/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {
    .wavy {
        text-decoration-line: none;
    }
}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}