.main {
    // background-color: orange;
    width: 79%;

    display: flex;
    justify-content: center;
    gap: 1rem;
    transition: width 0.3s;

    .input {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding: 0.75rem 0.9rem;
        border: 1px solid var(--bege);
        box-shadow: 0 0 1px var(--principal);
        border-radius: 5px;

        -webkit-appearance: textfield;
        appearance: textfield;
        background: transparent;
        color: inherit;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        outline: none;
        transition: all 0.2s ease-in;

        &::-webkit-input-placeholder {
            color: rgba(218, 215, 213, 0.9);
        }

        &:focus {
            border: 1px solid var(--principal);
            transition: all 0.2s ease-in;
        }
    }

    .lupa {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .main {
        // background-color: orange;
        width: 100%;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {
    .main {
        // background-color: orange;
        width: 80%;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}